.button {
  width: fit-content;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    filter: brightness(85%);
  }
}

