.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 10vh;
  gap: 24px;
  padding: 8px 10%;
}

.glasses {
  &:hover {
    cursor: pointer;
  }
}

.name {
  font-size: 40px;
  margin-left: 2.5%;
}