#root {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background-color: #EFEFE7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Montserrat"
}

.aoboshi {
  font-family: "Aoboshi One"
}

.background-olive {
  background-color: #686A54;
}

.text-olive {
  color: #686A54;
}

.background-white {
  background-color: #EFEFE7;
}

.text-white {
  color: #EFEFE7;
}

.background-lightgrey {
  background-color: #DFD7CA;
}

.text-lightgrey {
  color: #DFD7CA;
}

.background-grey {
  background-color: #DCD8C5;
}

.text-grey {
  color: #DCD8C5;
}

.background-darkgrey {
  background-color: #7B7B7B;
}

.text-darkgrey {
  color: #7B7B7B;
}

.background-brown {
  background-color: #BDAC8E;
}

.text-brown {
  color: #BDAC8E;
}
